Screen {
    layout: grid;
    grid-size: 4 4;
    grid-rows: 1fr;
    grid-columns: 1fr;
    background: $panel;
}

Input {
    dock: bottom;
    row-span: 3;
    column-span: 2;
}

Prompt {
    background: #343541;
    min-height: 5;
    content-align: center middle;
    text-style: bold;
    margin-left: 0;
    padding-left: 5;
    padding-right: 5;
    column-span: 3;
    height: 100%;
}

PromptResponse {
    background: #444654;
    min-height: 5;
    content-align: center middle;
    text-style: bold;
    margin-left: 0;
    padding-left: 2;
    padding-right: 5;
    padding-bottom: 2;
    width: 100%;
    padding-top: 2;
    column-span: 3;
    height: 100%;
}

PreviousPrompts {
    row-span: 4;
    column-span: 1;
    height: 100%;
    background: #202123;
}

Examples {
    dock: left;
    width: 20%;
    height: 90%;
    background: #202123;
}